<p id="notice"><%= notice %></p>

<% unless @invoices.empty? %>
  <h1>Invoices</h1>

  <table id="table" class="table table-hover col-sm-12" data-smart-display="true" data-toggle="table" align="center">
    <thead>
      <tr>
        <th>Interpreter</th>
        <th>Miles total</th>
        <th>Hours total</th>
        <th>Total paid</th>
        <th>Total owed</th>
        <th>Paid on</th>
        <th>Start date</th>
        <th>End date</th>
        <th colspan="4"></th>
      </tr>
    </thead>

    <tbody>
      <% @invoices.each do |invoice| %>
        <tr>
          <td><%= invoice.user.full_name %></td>
          <td><%= invoice.miles_total.round(2) %></td>
          <td><%= invoice.hours_total.round(2) %></td>
          <td><%= number_to_currency(invoice.total_paid) if invoice.paid_on %></td>
          <td><%= number_to_currency(invoice.total_paid) unless invoice.paid_on %></td>
          <td><%= invoice.paid_on.strftime("%D") if invoice.paid_on %></td>
          <td><%= invoice.start_date.strftime("%D") %></td>
          <td><%= invoice.end_date.strftime("%D") %></td>
          <td><%= link_to 'Show', invoice, remote: true %></td>
          <td><%= link_to 'Detailed', invoice %></td>
          <td><%= link_to 'Edit', edit_invoice_path(invoice), remote: true %></td>
          <% if invoice.paid_on.present? %>
            <td><%= link_to 'Unpay', unpaid_list_path(id: invoice), data: { confirm: "Are you sure this invoice wasn't paid?" }, remote: true %></td>
          <% else %>
            <td><%= link_to 'Pay', paid_list_path(id: invoice), data: { confirm: 'Are you sure this invoice was paid?' }, remote: true %></td>
          <% end %>
          <td><%= link_to 'Destroy', destroy_invoice_path(id: invoice), data: { confirm: 'Are you sure?' }, remote: true %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <h2>All completed appointments have already been invoiced. Create new completed appointments to create new invoices!</h2>
<% end %>
