<p id="notice"><%= notice %></p>
<h1>Invoice</h1>
<p>
  <strong>User:</strong>
  <%= @invoice.user.full_name %>
</p>

<p>
  <strong>Miles total:</strong>
  <%= @invoice.miles_total.round(2) %>
</p>

<p>
  <strong>Hours total:</strong>
  <%= @invoice.hours_total.round(2) %>
</p>

<p>
  <strong>Total paid:</strong>
  <%= number_to_currency(@invoice.total_paid) %>
</p>

<p>
  <strong>Paid on:</strong>
  <%= @invoice.paid_on.strftime("%D") %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @invoice.start_date.strftime("%D") %>
</p>

<p>
  <strong>End date:</strong>
  <%= @invoice.end_date.strftime("%D") %>
</p>

<%= link_to 'Edit', edit_invoice_path(@invoice), class: "btn btn-primary", remote: true %> |
<%= link_to 'Back', invoices_path, class: "btn btn-warning", remote: true %>
