<p id="notice"><%= notice %></p>
<div class="text-center">
  <h1>Invoice for <%= @invoice.user.first_name %> from <%= @invoice.start_date.strftime("%D") if @invoice.start_date %> to <%= @invoice.end_date.strftime("%D") if @invoice.end_date %></h1>
  <div class="ajax">
    <%= render 'all_appointments' %>
  </div>
  <div class="invoice">
    <%= render 'show' %>
  </div>
</div>
