<div class="text-center">
  <h2>Edit Interpreter</h2>

  <%= form_for @user do |f| %>

    <div class="field">
      <%= f.label :first_name %><br />
      <%= f.text_field :first_name, autofocus: true, placeholder: "Enter your first name" %>
    </div>
    <div class="field">
      <%= f.label :last_name %><br />
      <%= f.text_field :last_name, autofocus: true, placeholder: "Enter your last name" %>
    </div>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, placeholder: "Enter email address" %>
    </div>
    <div class="field">
      <%= f.label :phone_number %><br />
      <%= f.text_field :phone_number %>
    </div>
    <div class="field">
      <%= f.label :hourly_rate %><br />
      <%= f.text_field :hourly_rate %>
    </div>
    <div class="field">
      <%= f.label :mileage_rate %><br />
      <%= f.text_field :mileage_rate %>
    </div>


    <div class="field">
      <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
      <%= f.password_field :current_password, autocomplete: "off" %>
    </div>
    <br/>
    <div class="actions">
      <%= f.submit "Update", class: "btn btn-success" %>
    </div>
    <br/>
  <% end %>

  <%= link_to 'Show', @user, class: "btn btn-primary" %> |
  <%= link_to 'Back', root_path, class: "btn btn-warning" %> |
  <%= link_to 'Delete', @user,  method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></div>
