<%= month_calendar events: @appointments, previous_link: appointments_ajax_previous_link, next_link: appointments_ajax_next_link do |date, events| %>
  <%= date.day %>
  <% events.each do |appointment| %>
    <% if appointment.cancelled %>
      <div>
        <%= link_to "#{appointment.user.first_name if appointment.user} - #{appointment.clinic}", appointment, remote: true, class: "appointment cancelled" %>
      </div>
    <% elsif appointment.no_show %>
      <div>
        <%= link_to "#{appointment.user.first_name if appointment.user} - #{appointment.clinic}", appointment, remote: true, class: "appointment no-show" %>
      </div>
    <% elsif appointment.complete %>
      <div>
        <%= link_to "#{appointment.user.first_name if appointment.user} - #{appointment.clinic}", appointment, remote: true, class: "appointment complete" %>
      </div>
    <% elsif appointment.user == nil %>
      <div>
        <%= link_to "Interpreter! - #{appointment.clinic}", appointment, remote: true, class: "appointment no-interpreter" %>
      </div>
    <% else %>
      <div>
        <%= link_to "#{appointment.user.first_name if appointment.user} - #{appointment.clinic}", appointment, remote: true, class: "appointment appointment-set" %>
      </div>
    <% end %>
  <% end %>
<% end %>

<div class="legend text-center">
  <p class="appointment-set">Appointment is set</p>
  <p class="cancelled">Appointment is cancelled</p>
  <p class="no-show">Appointment is a no show</p>
  <p class="complete">Appointment is completed</p>
  <p class="no-interpreter">Appointment has no interpreter</p>
</div>
