<%= form_for(@appointment, remote: true) do |f| %>
  <% if @appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% @appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :patient_id %>
    <%= f.collection_select(:patient_id, Patient.all, :id, :full_name) %>
  </div>

  <div class="field">
    <%= f.label "Interpreter" %>
    <%= f.collection_select(:user_id, User.all, :id, :full_name, {include_blank: "No Interpreter"}) %>
  </div>

  <div class="field">
    <%= f.label :note %>
    <%= f.text_field :note %>
  </div>

  <div class="field">
    <%= f.label :clinic %>
    <%= f.text_field :clinic %>
  </div>

  <div class="field">
    <%= f.label :start_time %>
    <%= f.datetime_select :start_time %>
  </div>

  <div class="field">
    <%= f.label :end_time %>
    <%= f.datetime_select :end_time, include_blank: true %>
  </div>

  <div class="field">
    <%= f.label :miles_driven %>
    <%= f.text_field :miles_driven %>
  </div>

  <div class="field">
    <%= f.label :cancelled %>
    <%= f.check_box :cancelled %>
  </div>

  <div class="field">
    <%= f.label :no_show %>
    <%= f.check_box :no_show %>
  </div>

  <div class="field">
    <%= f.label :complete %>
    <%= f.check_box :complete %>
  </div>

  <div class="field">
    <%= f.label :paid_for %>
    <%= f.check_box :paid_for %>
  </div>

  <div class="actions">
    <%= f.submit class: "btn btn-success", remote: true %>
  </div>
<% end %>

<script>
  $('#appointment_start_time_1i').on('change click', function() {
    date = $(this).val();
    $('#appointment_end_time_1i').val(date);
  });
  $('#appointment_start_time_2i').on('change click', function() {
    date = $(this).val();
    $('#appointment_end_time_2i').val(date);
  });
  $('#appointment_start_time_3i').on('change click', function() {
    date = $(this).val();
    $('#appointment_end_time_3i').val(date);
  });
</script>
